.div1 {
    width: 100px;
    height: 100px;
    animation-fill-mode: both;
    animation-name: ex1;
    animation-direction: alternate;
    position: absolute;
    animation-duration: 3s;
}
@keyframes ex1 {
    0% {background-color: white; left: 0px;top:0px;}
    25% {background-color: black;left: 200px;top:70px;}
    50% {background-color: black;left: 300px;top:70px;}
    75% {background: black; left: 200px;top: 70px;}
    100% {background-color: black; left: 200px; top: 70px;}
    
}
.div2 {
    width: 100px;
    height: 100px;
    animation-fill-mode: both;
    animation-name: ex2;
    animation-direction: alternate;
    position: absolute;
    animation-duration: 3s;
}
@keyframes ex2 {
    0%{background-color: white;left: 0px;top: 0px;}
    25%{background-color: black;left: 200px;top:170px;}
    50%{background-color: black;left:225px;top:170px;}
    75% {background-color: black; left: 200px; top: 170px;}
    100% {background-color: black; left: 200px; top: 170px;}
}
.div3 {
    width: 100px;
    height: 100px;
    animation-fill-mode: both;
    animation-name: ex3;
    animation-direction: alternate;
    position: absolute;
    animation-duration: 3s;
}
@keyframes ex3 {
    0% {background-color: white;left: 0px;top: 0px;}
    25% {background-color: black;left: 200px;top:270px;}
    50%{background-color: black;left: 150px;top:270px}
    75% {background-color: black; left: 200px; top: 270px;}
    100% {background-color: black; left: 200px; top: 270px;}
}
.div4 {
    width: 100px;
    height: 100px;
    animation-fill-mode: both;
    animation-name: ex4;
    animation-direction: alternate;
    position: absolute;
    animation-duration: 3s;
}
@keyframes ex4 {
    0% {background-color: white;left: 0px;top: 0px;}
    25% {background-color: black;left: 200px;top:370px;}
    50% {background-color: black ; left:75px ;top:370px;}
    75% {background-color: black; left: 300px; top: 370px;}
    100% {background-color: black; left: 200px; top: 370px;}
}
.div5 {
    width: 100px;
    height: 100px;
    animation-fill-mode: both;
    animation-name: ex5;
    animation-direction: alternate;
    position: absolute;
    animation-duration: 3s;
}
@keyframes ex5 {
    0% {background-color: white;left: 0px;top: 0px;}
    25% {background-color: black;left: 300px;top:70px;}
    50%{background-color: black; left:375px;top:170px;}
    75% {background-color: black; left: 400px; top: 370px;}
    100% {background-color: black; left: 200px; top: 470px;}
}
.div6 {
    width: 100px;
    height: 100px;
    animation-fill-mode: both;
    animation-name: ex6;
    animation-direction: alternate;
    position: absolute;
    animation-duration: 3s;
}
@keyframes ex6 {
    0% {background-color: white;left: 0px;top: 0px;}
    25% {background-color: black; left: 400px;top:170px;}
    50% {background-color: black;left: 450px;top:270px;}
    75% {background-color: black; left: 500px; top: 270px;}
    100% {background-color: black; left: 300px; top: 70px;}
}
.div7 {
    width: 100px;
    height: 100px;
    animation-fill-mode: both;
    animation-name: ex7;
    animation-direction: alternate;
    position: absolute;
    animation-duration: 3s;
}
@keyframes ex7 {
    0% {background-color: white;left: 0px;top: 0px;}
    25% {background-color: black;left: 300px;top:270px;}
    50% {background-color: black; left: 525px;top:370px;}
    75% {background-color: black; left: 500px; top: 170px;}
    100% {background-color: black; left: 400px; top: 70px;}
}
.div8 {
    width: 100px;
    height: 100px;
    animation-fill-mode: both;
    animation-name: ex8;
    animation-direction: alternate;
    position: absolute;
    animation-duration: 3s;
}
@keyframes ex8 {
    0% {background-color: white;left: 0px;top: 0px;}
    25% {background-color: black;left: 400px;top:370px;}
    50% {background-color: black; left:300px;top: 270px;}
    75% {background-color: black; left: 500px; top: 70px;}
    100% {background-color: black; left: 300px; top: 270px;}
}




